<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Matrixolver</title>
{% load staticfiles %}

<link rel='stylesheet' type='text/css' href='{% static "matrixolver/style.css" %}'>
<script type='text/javascript' src='{% static "matrixolver/script.js" %}'></script>
<script type='text/javascript' src='{% static "matrixolver/modernizr.custom.37954.js" %}'></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<style>
body.touch {background-color: black;}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MATRIXOLVER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Hodnost matice</a></li>
        <li class="active"><a href="#">Inverzní matice<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Řešení soustav</a></li>
        <li><a href="#">Převod bází</a></li>
        <li><a href="#">Vlastní čísla</a></li>
        <li><a href="#">Pískoviště</a></li>
        <li><a href="#">Studijní plán</a></li>
        <li><a href="#">Generovat PDF</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section>
{% block content %}
{% endblock %}
</section>

<footer>

</footer>
</div>
<body>

</html>
