{% extends 'matrixolver/base.html' %}

{% block content %}
<script type='text/javascript'>

	lis = $('ul.nav').find('li');
	lis.removeClass('active');
</script>

<h1>Vítej na MATRIXOLVERu</h1>

Budu postupně rozšiřovat jeho funkce. Začnu u základních a postupně se pokusím pokrýt vše, co lze v lineární algebře probírat, ať už se jedná o úlohy s komplexními čísly, s parametrem, nebo lineární variety.

Co funguje (s oběma očima přivřenýma):
<ul>
	<li>výpočet hodnosti</li>
	<li>výpočet inverzní matice</li>
	<li>řešení soustav lineárních algebraických rovnic</li>
</ul>

{% endblock content %}
