{% extends 'matrixolver/base.html' %}

{% block content %}
<div class='cSize'>
<form action='{% url "matrixolver:inv_get_size" %}' method='POST'>{% csrf_token %}
	<label for='rows'>Rows</label>
	<input type='number' id='rows' name='row_num' autocomplete='off' min='1' />
	<label for='cols'>Columns</label>
	<input type='number' id='cols' name='col_num' autocomplete='off' min='1' />
	<input type='submit' value='set size' class='cSubmit' />
</form><!--form validation--!>
</div>

<div class='cInput'>
<form action="{% url 'matrixolver:inv_solution' %}" method='POST' name='matrix'>{% csrf_token %}
<!--form validation--!>
	<table id='InputTable'>
{% if A %}
	{% for row in A.rows %}
		<tr>{% for element in row %}<td>
<input type='text' name='a{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}' onclick='select()' step='any' value='{{ element }}' autocomplete='off' /></td>{% endfor %}</tr>
	{% endfor %}
	<input type='hidden'  id='hidden_rows' name='hidden_rows' value='{{ A.row_num }}' />
	<input type='hidden' id='hidden_cols' name='hidden_cols' value='{{ A.col_num }}' />
	<!--toto jeste vylepsit, mozna pres cache, mozna jinak--!>
{% endif %}
	</table>
	<input type="submit" value="compute inversion" class='cSubmit' />
</form>
</div>



{% if sol %}
<div class='cSolution'>
	{% for step in sol %}
		<div class='cExtendedMatrix'>
		<table class='cLeftMatrix' id='tl{{ forloop.counter0 }}'>
			{% for row in step.left.rows %}
				<tr>{% for element in row %}<td>{{ element }}</td>{% endfor %}</tr>
			{% endfor %}
		</table>
		<table class='cRightMatrix' id='tr{{ forloop.counter0 }}'>
			{% for row in step.right.rows %}
				<tr>{% for element in row %}<td>{{ element }}</td>{% endfor %}</tr>
			{% endfor %}
		</table>
		{% if not forloop.last %}
		<table class='cTilde'><tr><td id='tilde{{ forloop.counter0 }}' class='cTilde' >~</td></tr></table>
		{% else %}
		<table class='cTilde'><tr><td id='tilde{{ forloop.counter0 }}' class='cTilde' ></td></tr></table>
		{% endif %}
		</div>
		{% if not forloop.last %}
		<script type='text/javascript'>
			var height = document.getElementById('tl0').clientHeight;
			document.getElementById('tilde{{ forloop.counter0 }}').style.height = height+'px';
		</script>
		{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endblock content %}
